body{
    background-color: rgb(255, 255, 255);
}

header{
    display: flex;
    justify-content: center;
}

header img{
    height: 10vh;
}
h1 {
    color: mediumseagreen;
    text-align: center;
    
}

h2{
    text-align: center;
}

p {
    font-size: small;
    text-align: left;
    
}

.narrow-column
{
    width: 12em;
}
